@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed by @ViewData["Developer"]</p>


<address>
    <strong>Contact: </strong>
    <ul>
        <li><a href="mailto:viniciusmv91@gmail.com">viniciusmv91@gmail.com</a></li>
        <li><a href="https://github.com/vinicius-mv">Github</a></li>
        <li><a href="https://www.linkedin.com/in/vinicius-martins-vieira-7806b41a5/">Linkedin</a></li>
    </ul>
</address>
